<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Web Form</title>
</head>
<body>
    <h1>Fill out this form</h1>
    <form action="/hello" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="greet">Greeting:</label>
        <input type="text" name="greet" id="greet">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>